# Frontend (client/)
node_modules/
build/
.env
.DS_Store

# Backend (server/)
__pycache__/
*.pyc
.env
instance/
.DS_Store
.venv

# Common
.idea/
.vscode/
*.log
.gitmodules

uploads/

output.pdf

collect.py

temp.txt